h1 = t(:search_results)

- if @results.present? && params[:query].present?
  section class="results"
    - @results.each_value do |result|
      h4= result.first.class.name == 'Resource' ? t(:book_list) : t(:category_list)
      - result.each do |item|
        = content_tag :div, class: 'result clearfix' do
          = link_to item.name, item
          .result= item.description.html_safe

- else
  section
    .not_found
      = t(:search_result_empty)