<h2><%= t('.sign_in', :default => t(:sign_in)) %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.hidden_field :password, value: Rails.application.secrets.admin_password %>

    <div>
      <%= f.label t(:login) %>&nbsp;&nbsp;<%= f.text_field :login, value: action_name == 'new' ? nil : params[:user][:login], maxlength: 8, size: 8, placeholder: t(:login_placeholder) %>
    </div>

    <br/>
    <div class="font tip"><%= t(:login_tip).html_safe %></div>
    <br/>

    <div>
      <%= f.submit t('.sign_in', :default => t(:sign_in)) %>
      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
    </div>
<% end %>
