= simple_form_for(@resource) do |f|
  = f.error_notification

  - show_attributes = action_name == 'new' || action_name == 'create' || @resource.errors.present?

  .form-inputs
    = f.association :category, selected: params[:category] || @resource.category_id, label: t(:book_category)
  .form-inputs
    = f.input :name, label: t(:book_name)
  .form-inputs
    = f.input :description, as: :ckeditor, label: t(:book_description)
  .form-inputs
    = f.input :file, as: :file, label: t(:book_file)
    = button_tag t(:global_select), type: 'button', id: 'select_file'
    = link_to_blank @resource.file_file_name, @resource.file.url unless show_attributes
  .form-inputs
    = f.input :image, as: :file, label: t(:book_image)
    = button_tag t(:global_select), type: 'button', id: 'select_image'
    = image_tag @resource.image.url(:thumb) unless show_attributes

  .form-actions
    = f.button :submit, t(:global_save)
