/h2 = t(:resource_list)

table
  thead
    tr
      th
      th
      - if @authenticated
        th
        th

  tbody
    - @resources.each.with_index(1) do |resource, index|
      tr
        td{style="vertical-align:top"}
          = "#{index}."
        td
          = link_to resource.name, resource_path(resource)
        - if @authenticated
          td = link_to t(:global_edit), edit_resource_path(resource)
          td = link_to t(:global_destroy), resource, data: {confirm: t(:global_destroy_sure, resource: resource.name)}, method: :delete

br
