p= link_to @resource.category.name, @resource.category
p= @resource.name
.clearfix.left.image
  = image_tag @resource.image.url(:medium)
.clearfix
  = @resource.description.html_safe
  - if @authenticated
    = link_to @resource.file_file_name, download_resource_path(@resource.id), target: '_self'
  - else
    .error= t(:book_authenticated)
br
- if @authenticated
  - if @resource.file_content_type == 'application/pdf'
    .clearfix
      iframe src="http://#{ ENV['DOMAIN_NAME'] }/pdfjs-dist/viewer.html?file=#{ download_resource_path(@resource.id) }" width="100%" height="600px"

  - if current_user.admin?
    = link_to t(:global_edit, resource: t(:book_new)), edit_resource_path(@resource)
    '&nbsp;|
    = link_to t(:global_cancel), categories_path
