body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

input, textarea, select, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  color: #000;
  background-color: whiteSmoke;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input:hover, textarea:hover, button:hover {
  background-color: #ffffe1;
}

input:active, textarea:active, button:active {
  background-color: #fff;
}

input:focus, textarea:focus, button:focus {
  background-color: #fff;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: teal;
  text-decoration: none;
}

.tip {
  color: #999;
}

.left {
  float: left;
}

.right {
  float: right;
}

.font {
  font-size: 92%;
}

.error_notification {
  margin-bottom: 10px;
}

.error_notification, .error {
  color: red;
}

.form-inputs, .form-actions {
  margin: 10px 0;
}

textarea {
  resize: none;
  height: 100px;
}

select, #category_name, #resource_name {
  width: 100%;
}

#sidebar {
  text-align: center;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.not_found {
  color: #777;
}

.result {
  margin: 0 0 20px 0;
}

.image {
  margin: 0 20px 0 0;
}

.hidden {
  opacity: 0;
  display: none;
}

input[type="file"] {
  visibility: hidden;
  width: 0;
  height: 0;
}
