@import "susy";

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
        columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
        container: 1120px,
  /* Tells Susy to use border-box */
        global-box-sizing: border-box
);

/* Makes border-box properties */
@include border-box-sizing;

/* Simple Layout with Susy */
#wrap {
  @include container;
}

/* Tells Susy there's 8 columns in the content, and its the last item on the row. */
#content {
  @include span(8 last);
}

/* Tells Susy there's 4 columns in the sidebar */
#sidebar {
  @include span(4);
}