= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: t(:category_name)
  .form-inputs
    = f.input :description, as: :ckeditor, label: t(:category_description)

  .form-actions
    = f.button :submit, t(:global_save)
