h1 = t(:category_list)

- if @authenticated
  p= link_to t(:category_new), new_category_path

table
  thead
    tr
      th
      - if @authenticated
        th
        th

  tbody
    - @categories.each do |category|
      tr
        td = link_to category.name, category
        - if @authenticated
          td = link_to t(:global_edit), edit_category_path(category)
          td = link_to t(:global_destroy), category, data: {confirm: t(:global_destroy_sure, resource: category.name)}, method: :delete

- if @authenticated
  p= link_to t(:category_new), new_category_path