- if @authenticated
  p= link_to @category.name, edit_category_path(@category)
  = link_to t(:global_new, resource: t(:book_new)), new_resource_path(category: @category.id)
  '&nbsp;|
  = link_to t(:global_cancel), categories_path
- else
  p= @category.name
p= @category.description.html_safe

- if @resources.length > 0
  = render template: 'resources/index'

- if @authenticated
  = link_to t(:global_new, resource: t(:book_new)), new_resource_path(category: @category.id)
  '&nbsp;|
  = link_to t(:global_cancel), categories_path
