<% if user_signed_in? %>
    <li class="right"><%#= link_to 'Edit account', edit_user_registration_path %></li>
    <li class="right"><%= link_to t(:sign_out), destroy_user_session_path, :method => 'delete' %></li>
<% else %>
    <li class="right"><%= link_to t(:sign_in), new_user_session_path %></li>
    <li class="right"><%#= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
