#sidebar
  = image_tag 'adi-logo.png', id: 'logo', alt: '', title: ''
  h1= t :app

  = form_tag search_path, method: 'get' do
    = text_field_tag :query, params[:query], autofocus: true, tabindex: 0
    = submit_tag t(:search), :name => nil

  p.font.tip= t(:search_tip).html_safe