doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title= content_for?(:title) ? yield(:title) : t(:app)
    meta name="description" content="#{content_for?(:description) ? yield(:description) : t(:app)}"
    == javascript_tag 'window.locale = ' << I18n.locale.to_s.inspect
    == csrf_meta_tags
    == favicon_link_tag 'adi-icon.png', type: 'image/png'
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == javascript_include_tag user_signed_in? ? 'admin' : 'reader', 'data-turbolinks-track' => true
  body
    header
      == render 'layouts/navigation'
    main[role="main" id="wrap"]
      == render 'layouts/sidebar'
      #content
        == render 'layouts/messages'
        == yield
    footer
